{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AMSA - Achetez les meilleurs bijoux{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/lo.png' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'lightbox.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Slider.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js/glider.min.css">
    <!-- Glider.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/glider-js/glider.min.js"></script>
</head>
<body>

    <div id="cart-sidebar">
        <div class="cart-header">
            <h3>Votre panier</h3>
            <button id="close-cart">✖</button>
        </div>
    
        <div class="cart-content">
            <div class="cart-items" id="cart-sidebar-body">
                
            </div>
        </div>
    
        <div class="cart-footer">
            <h4>Total: <span class="cart-total">0 MAD</span></h4>
            <form method="post" action="{% url 'checkout' %}" class="checkout-form">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="phone" placeholder="Phone Number" required>
                <textarea name="address" placeholder="Delivery Address" required></textarea>
                <button type="submit" class="btn btn-primary">Passer la commande</button>
            </form>
        </div>
    </div>
    


    {% include 'partials/navbar.html' %}  <!-- Include Navbar -->
    
    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' %}  <!-- Include Footer -->

    <!-- Scripts -->
    <script src="{% static 'js/Slider.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/8c8aa2002d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>


</body>
</html>
